/* Estilos das Seções da Página de Configurações */
.section {
  margin: 20px 0;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
}

.section h2 {
  margin-top: 0;
}
